extends ../layout/default

block scriptsView
  script(src='/socket.io/socket.io.js')
  script(src='/jquery/dist/jquery.js')  

  //- script(src='/jquery2.js')
  //- script(src='/pets2.js')
  script(type='text/javascript').
    $(function () {
      var socket = io();
      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        console.log('chat client');
        console.log(msg);
        alert(msg);
        $('#pUsername').text(msg);
        return false;
      });
    });


    //var socket = io.connect('http://localhost:8080'); // C02. ソケットへの接続
    //var socket = io.connect(); // C02. ソケットへの接続

    // C04. server_to_clientイベント・データを受信する
    //socket.on("server_to_client", function(data){
    //  //appendMsg(data.value)
    //  alert(data.value);
    //  console.log('onで受け');
    //  console.log(data.value);
    //});




    //- index.html

block content
  h1= title + ''
  p#pUsername #{username}

  //- ul#messages
  //- form(name="test-form", method="get", action="")
  //-   input#m
  //-   button send
