extends ../layout/default

block scriptsView
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript').
    $(function () {
      var socket = io();
      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        console.log('chat client');
        console.log(msg);
        alert(msg);
        $('#pUsername').text(msg);
        return false;
      });
    });

block content
  h4= title

  //a(class='button' class="btn btn-primary" style="margin-bottom:10px" href="//" + hostname + "/systemUsers/edit") 新規登録
  
  table(class="table")
    thead(class="thead-dark")
      tr
        th メールアドレス
        th 名前
        th 性別
        th(style="width:100px") 操作
    tbody
    if users
      each user, key in users
        tr  
          td #{user.profiles.email}
          td #{user.profiles.name}
          td #{user.profiles.gender}
          td
            a(class='button' class="btn btn-success" style="margin-right:5px" href="//" + hostname + "/users/profile/" + key target="_blank") チャット
            a(class='button' class="btn btn-primary" style="margin-right:5px" href="//" + hostname + "/users/profile/" + key target="_blank") 申請データ
            a(class='button' class="btn btn-info" style="margin-right:5px" href="//" + hostname + "/users/profile/" + key target="_blank") プロフィール
